//GENERAL STYLING////
$navbar-menu-background-color: rgba(237, 243, 234, 0.1);

$shadow-effect: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$button-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


///////FONT STYLING///////

$primary-font: "Open Sans", sans-serif;
$secondary-font: "Roboto", sans-serif;

//////FONT WEIGHT///////
$semibold-font: 600;
$bold-font : 700;
$normal-font : 400;
$light-font : 300;
$extralight-font : 200;
