nav, ul, li {
  position : relative;
  display : block;
  text-decoration: none;
}


/* BUTTON */
#red-button {
  background-color: #FA6060
  border: none
  padding: 180px 50px;
  text-align:center;
  display:inline-block;
  font-size: 14px
}

body {
  background-image: url;
}